.Post{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 16px;
    box-shadow: 0px 0px 3px rgb(169, 166, 166);
    margin-top: 20px;
    margin-bottom: 20px;

}
.PostTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.PostTop-1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.Image{
    height: 35px;
    width: 35px;
    border-radius:50%;
}
.UserName{
    font-weight: 600;
}
.time{
    font-size: 13px;
    color: rgb(75, 74, 74);
}
.Post-Img{
    width: 100%;
}
.title{
    margin: 15px 0px;
}
.PostBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Likebtn{
    color: rgb(132, 169, 221);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Favbtn{
    color: pink;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
.comment{
    text-decoration: dotted;
}

.like{
    display: flex;
    align-items: center;
}
.peoplelike{
    font-size: 12px;
    font-weight: 600;
}